* {
    margin: 0;
   
  }
  
  body {
    
    color: black;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color:  rgb(0, 102, 128);
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: rgb(0, 102, 128);
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }


  #aboutMe{
         background-color: goldenrod;
         width: 100%
    
  }
  h2{
      text-align: center;
  }
img{
    margin: 0 auto;
}
#projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.steps{
    height: 200px;
    width:  200px;
    background-color: green;
}

/* contact */

footer {
    background-color:lightcyan;
    text-align: center;
    text-decoration: underline;
}
}


